body {
  padding-top: 70px;
  background:url(images/barnsiding.jpg) center no-repeat fixed;
  background-size: cover;
}

#headshot {
  height: 200px;
  margin: 0,50px,0,0;
}

.bio-text {
  margin: 0, 0, 0, 2%;
}

.banner {
  /*background:url(images/barnsiding.jpg) center no-repeat;*/
  background-attachment: fixed;
  background-size: cover;
  min-height: 200px;
  width:100%;
  /*position:relative;*/
}

.user-info-text {
	color: white;
	border-radius:5px;
	padding:15px;
	margin-top:20px;
	background-color:black;
	background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,1));
}
}

#ga {
  height: 30px;
  width: 30px;
}

.logo {
  font-size: 36px;
}*/

body {
  font-family: Open Sans;
  display: block;
  background-color: #999393;
  padding-top: 70px;
}

header {
  margin: 2%;
}

h1 {
  font-size: 36px;
  font-family: Open Sans Semibold, sans-serif;
  float: left;
}

h2 {
  font-size: 18px;
  font-family: Open Sans Semibold, sans-serif;
  color: #ffffff;
  margin: 2%;
}

a {
  text-decoration: none;
}

nav {
  display: inline-block;
}

nav li {
  float: left;
  /*padding: 10px 40px;*/
  text-align: center;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 12px;
}

nav a {
  color: #000000;
}

.ga {
  width: 100%;
}

.gaimage {
  float: left;
  margin:2% 2%;
}

.hmwk {
  float: left;
}

.ga ul {
  display: inline-block;
}

.ga li {
  float: left;
  margin: 2px 2px 2px 2px;
  text-align: center;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 18px;
  background-color: #D8D8D8;
}
