body {
  background-color: #444444;
  color: white;
}

.container {
  border: #CCCCCC 4px solid;
  width: 600px;
  padding: 40px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
}

.txt-center {
  text-align: center;
}

h2 {
  font-size: 30px;
}

.divider {
  border: 1px #CCCCCC solid;
  margin: 20px 0;
}

img {
  border: 1px #CCCCCC solid;
  padding: 5px;
  float: right;
}

a {
  color: #57C2B3;
}
