/*.donkey {
  margin: 0 20px 0 0;
}

.elephant {
  margin: 0 0 0 2%;
}*/

* {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 70px;
  text-align: center;
  /*background-color: #A4A482;*/
}

.head {
  display: inline;
  color: #ffffff;
  font-size: 2em;
  margin: 2%;
}

.navbar {
  background: #474745;
  margin: auto;
}
footer {
  text-align: center;
}
.title {
  margin: 0 20px;
}

.navbar-header {
  width: 100%;
  display: inline;
}

.active {
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 1em;
}

.twitter-tweet {
  width: 50%;
}

.dem {
  float: left;
  /*border: #0000FF solid 5px;*/
  opacity: .80;
  margin: 0 auto;
  color: #000000;
  background-color: #5892CD;
}

.rep {
  float: right;
  background-color: #DE0100;
  /*border: #DE0100 solid 5px;*/
  margin: 2% 0;
}

.background {
  /*background-color: #DE0100;*/

}
