* {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 70px;
  text-align: center;
  /*background-color: #A4A482;*/
}

header {
  margin-bottom: 2%;
}

.head {
  display: inline;
  color: #ffffff;
  font-size: 2em;
  margin: 2%;
}

.navbar {
  background: #474745;
  margin: auto;
}

.navbar-header {
  width: 100%;
  display: inline;
}

h3  {
  margin-bottom: 5%;
}

ul {
  list-style-type: none;
}

li  {
  padding: 5%;
  margin: 5%;
  border: solid 1px red;
}

.tweets {
  height: 50%;
  padding-bottom: 20%;
}

.dem-names li {
  background color: #5892CD;
}

.rep-names li {
  background-color: #DE0100;
}
